html {
  scroll-behavior: smooth!important;
}

body {
	font-family: 'Quicksand', sans-serif;
}

h2 {
  font-weight: bold;
}

/* NAVBAR RESPONSIVA

.navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: rgba(255,255,255,0.85);
} */

.navbar-toggler-icon {
    
    border-radius: 4px;
}   

.navbar-toggler .collapsed{
  background:green;
}
.navbar-brand h1 mb-0 img {
	width: 90px;
	height: 80px;
	margin-left: 30px;
	margin-top: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #63d32f;
    font-size: 21px;
    font-weight: lighter;
    letter-spacing: 1px;
		margin: 10px;
    margin-left: 3px;
}

@media(max-width: 767px){
  .navbar.fixed-top.navbar-expand-lg.navbar-dark{
  background: rgb(255,255,255);
  position: fixed;
  }

	.carousel.slide{
		padding-top: 6.5em!important;
	}
}

/* SEÇÃO DE CONTATOS */

.formContato{
  padding-left: 50px;
  padding-bottom: 15px;
}

#secContato{
      background: url(../img/keyboard.jpg) no-repeat fixed center;
      background-color: #2f5498;
      background-size: cover;
      color: #fff;
      padding: 1%;

}

#emailHelp{
      color: #fff!important;
}

.form-group{
      width: 50%;
}

#btnConta{
      align-items: center;
}

.list-unstyled {
      color: yellow;
}
.has-error .control-label{
      color: yellow;
}

.formulario {
      padding-left: 5em;
}

@media(max-width: 990px){
      .form-group{
            width: 100%;
      }

      .formContato{
      padding-left: 5px;
      padding-bottom: 15px;
			padding-right: 5px;
      }

      .btnContato{
      text-align: center;
      }
}

.contact-title {
  padding-top: 10px;
}
/* FIM SEÇÃO DE CONTATOS */

/* SEÇÃO DE RODAPE */

#rodape{
      background-color:#17b940;
      color: #fff;
      padding: 0.4%;
}
.flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
    }
@media(max-width: 786px){
      .flex-container {
            display: flex;
            flex-direction: column;
            text-align: center;
          }

      ul.rsociais-footer{
      list-style: none;
      display: inline-flex;
      padding-top: 15px;
      padding-left: 0px;
}
}

rodape-footer{
  padding: 10px 10px 10px 10px;
}

ul.rsociais-footer{
  list-style: none;
  display: inline-flex;
  padding-top: 30px;
}

.rslogo{
  width: 50px;
  height: 50px;
  padding: 8px 8px 8px 8px;
}

/* FIM SEÇÃO DE RODAPE */

/* CARROUSEL */


/*
@media(max-width: 786px) {
      .carousel-inner {
            padding-top: 110px;
      }
} */

.conteudo {
  width: 80%;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  top: 98px;
  margin: auto;
}

.conteudo h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* SEÇÃO SOBRE */

.recuo{
  text-indent:3em;
}

.row.sobre{
  text-align: justify;
  padding-bottom: 45px;
  padding-left: 25px;
  padding-right: 25px;
}

.imgbackground{

background-repeat: no-repeat;
background-size: cover;
}

.cortexto{
      color: black;
}

.textbold{
      font-weight: bold;
}

.py-4.text-center.textbold.cortexto{
  padding-top: 20px !important;
  padding-bottom: 5px !important;
  font-size: 2rem;
}

.col-md-6.txt{
  text-align: justify;
}
.sobree{
  padding: 50px;

}

.cards{
  padding: 30px;
  width: 100%; 
  background-color:#F2F2F2; 
}
.card-img-top{
  width: 100;

}
.titulo{
  padding: 20px;
}
.footer {
    background-color: #1C1C1C;
}
.footer__p--container {
    text-align: center;
    color: white;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer__p {
    margin: 0px;
}
.footer__linha {
    background-color:#63d32f;
    height: 4px;
}

@media(max-width: 767px){
  .col-md-6.txt{
    text-align: justify;
    padding-top: 15px;
  }

}
